// Colors
$default-button-color:#51ddfc;
$success-button-color:#63cc82;
$error-button-color:#e4757a;
$warning-button-color:#fd7856;
$info-button-color:#927bc1;

//Media query breakpoint
$breakpoint: '(min-width: 768px)';

//Border-radius value
$border-curve: 5px;